* {
  color: #232b2b;
  font-family: europa, sans-serif;
  font-style: normal;
  font-weight: 700;
}
header {
  width: 100%;
  display: inline-block;
  height: 72px;
  float: left;
}
header .logo {
  float: left;
  height: 72px;
  width: 72px;
}
header nav {
  float: right;
  padding-right: 0.5rem;
}
header nav ul {
  margin: 0;
  list-style-type: none;
  display: inline-block;
}
header nav ul li {
  display: inline-block;
  float: left;
}
header nav ul li:first-of-type {
  display: none;
}
header nav ul li a {
  display: block;
  padding: 1.5rem 1rem;
  text-decoration: none;
  font-weight: 400;
}
header nav ul li.current_page_item a::before {
  content: "• ";
}
footer {
  background-color: #232b2b;
  display: inline-block;
  width: 100%;
  padding: 3.75rem 8.75rem;
  box-sizing: border-box;
  float: left;
}
footer * {
  color: #fff;
  font-weight: 400;
}
footer aside {
  float: left;
  width: 50%;
}
footer aside ul {
  margin: 0;
  list-style-type: none;
  display: inline-block;
  float: right;
}
footer aside ul li a {
  display: block;
  text-align: right;
  text-decoration: none;
  font-weight: 400;
}
footer aside ul li.current_page_item a::before {
  content: "• ";
}
body.home .jumbo {
  padding: 0 8.75rem;
  margin: auto;
  display: inline-block;
}
body.home .jumbo h1 {
  font-size: 78px;
  margin-top: 2rem;
}
body.home .jumbo h1:last-of-type {
  margin-bottom: 1.5em;
}
section {
  float: left;
}
section .post-module {
  margin: auto;
  overflow: hidden;
  width: 100%;
}
section .post-module aside {
  box-sizing: border-box;
  float: left;
  width: 50%;
  height: 45vw;
  margin: 0;
  padding: 0;
}
section .post-module aside img {
  width: 100%;
  float: left;
}
section .post-module aside:not(.text) {
  background: #d4e5f3;
  background: -webkit-linear-gradient(to bottom, #eef2f3, #d4e5f3);
  background: linear-gradient(to bottom, #eef2f3, #d4e5f3);
}
section .post-module aside.text {
  padding-top: 90px;
  padding-top: 6vw;
  position: relative;
}
section .post-module aside.text h1,
section .post-module aside.text h2,
section .post-module aside.text p {
  max-width: 390px;
  margin: 0 auto;
}
section .post-module aside.text h1,
section .post-module aside.text h2 {
  text-align: right;
}
section .post-module aside.text h1 {
  line-height: 1.1;
  font-size: 78px;
  font-size: 5.5vw;
  word-spacing: 5rem;
}
section .post-module aside.text h2 {
  font-size: 48px;
  font-size: 3.3vw;
}
section .post-module aside.text span {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -195px;
}
section .post-module aside.text span p {
  font-weight: 100;
}
section .post-module aside.text span a {
  font-size: 20pt;
  float: none;
  padding: 45px 0;
  font-weight: 400;
  text-decoration: none;
  display: block;
  width: 100%;
  text-align: center;
}
section .post-module:nth-of-type(2n) aside {
  float: right;
}
section {
  width: 100%;
}
section #post-27 {
  width: 100%;
  float: left;
  display: inline-block;
}
section #post-27 aside {
  width: 50vw;
  height: 45vw;
  float: left;
}
section #post-27 aside img {
  width: 100%;
  float: left;
}
section #post-27 aside:not(.text) {
  background: #d4e5f3;
  background: -webkit-linear-gradient(to bottom, #eef2f3, #d4e5f3);
  background: linear-gradient(to bottom, #eef2f3, #d4e5f3);
}
section #post-27 aside .form-page {
  width: 400px;
  margin: auto;
}
section #post-27 aside .form-page h1 {
  font-size: 78px;
}
section #post-27 aside .form-page form .grouping .input {
  margin-bottom: 1rem;
}
section #post-27 aside .form-page form .grouping .input label {
  display: block;
  margin-bottom: 0.5rem;
}
section #post-27 aside .form-page form .grouping .input input,
section #post-27 aside .form-page form .grouping .input textarea {
  width: 400px;
  padding: 0.5rem;
  font-size: 1.5rem;
  box-sizing: border-box;
  border: none;
  border-bottom: 5px solid #232b2b;
  resize: vertical;
}
section #post-27 aside .form-page form .grouping .input input::-webkit-input-placeholder,
section #post-27 aside .form-page form .grouping .input textarea::-webkit-input-placeholder {
  color: #b8c5c5;
}
section #post-27 aside .form-page form .grouping .input input:-moz-placeholder,
section #post-27 aside .form-page form .grouping .input textarea:-moz-placeholder {
  color: #b8c5c5;
}
section #post-27 aside .form-page form .grouping .input input::-moz-placeholder,
section #post-27 aside .form-page form .grouping .input textarea::-moz-placeholder {
  color: #b8c5c5;
}
section #post-27 aside .form-page form .grouping .input input:-ms-input-placeholder,
section #post-27 aside .form-page form .grouping .input textarea:-ms-input-placeholder {
  color: #b8c5c5;
}
section #post-27 aside .form-page form input#submit {
  width: 100%;
  background: transparent;
  font-size: 2rem;
  border: none;
  margin-top: 1rem;
}
.white {
  display: inline-block;
  width: 100%;
  float: left;
}
.white .owl-carousel {
  float: left;
}
.white .owl-carousel .owl-stage-outer .owl-stage .owl-item .sa_hover_container {
  height: 600px;
}
.white .owl-carousel .owl-stage-outer .owl-stage .owl-item .sa_hover_container img {
  height: 100%;
}
@media only screen and (max-device-width: 667px) {
  body header .logo {
    position: relative;
    z-index: 20;
  }
  body header nav {
    max-width: 70%;
  }
  body header nav ul li:first-of-type {
    display: inline-block;
    font-size: 0;
    width: 42px;
  }
  body header nav ul li:first-of-type a {
    padding: 0;
  }
  body header nav ul li:first-of-type:after {
    content: "⋮";
    font-size: 30px;
    display: block;
    font-weight: 900;
    text-align: center;
    padding: 15px 0;
  }
  body header nav ul li:not(:first-of-type) {
    display: none;
  }
  body header nav.mobile-open {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    background: #fff;
    max-width: 100%;
    z-index: 10;
    padding-right: 0;
  }
  body header nav.mobile-open ul {
    padding-left: 0;
  }
  body header nav.mobile-open ul li {
    width: 100%;
    display: block;
  }
  body header nav.mobile-open ul li a {
    padding-left: 56px;
  }
  body header nav.mobile-open ul li:nth-of-type(1) {
    width: 42px;
    float: right;
    padding-right: 8px;
  }
  body header nav.mobile-open ul li:nth-of-type(1):after {
    content: "×";
    font-weight: 100;
    padding: 9px 0 9px;
    font-size: 36px;
  }
  body.home .jumbo {
    padding: 0 1.75rem;
  }
  body.home .jumbo h1 {
    font-size: 35px;
    margin-top: 0;
  }
  body .white .owl-carousel .owl-stage-outer .owl-stage .owl-item .sa_hover_container {
    height: 100%;
  }
  body .white .owl-carousel .owl-stage-outer .owl-stage .owl-item img {
    width: 100%;
  }
  body footer {
    padding: 0 1.75rem;
  }
  body footer aside {
    width: 100%;
  }
  body footer aside ul {
    float: left;
    margin: 1em 0 2em;
    padding-left: 0;
  }
  body footer aside ul li a {
    text-align: left;
  }
  body section .post-module aside {
    height: initial;
    width: 100%;
  }
  body section .post-module aside.text {
    padding: 0 1rem;
  }
  body section .post-module aside.text h1 {
    padding: 1rem 0.5rem 0;
    font-size: 23px;
    word-spacing: initial;
    text-align: left;
  }
  body section .post-module aside.text h2 {
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    padding-left: 0.5rem;
    margin-top: 0.25rem;
  }
  body section .post-module aside.text span {
    position: initial;
    margin-left: initial;
  }
  body section .post-module aside.text span p {
    font-size: 0.7rem;
    padding: 1rem 0.5rem 1.5rem;
  }
  body section .post-module aside.text span a {
    padding: 0 0 25px 0;
    font-size: 18px;
  }
  body section #post-27 aside {
    width: 100%;
    height: initial;
  }
  body section #post-27 aside:first-of-type {
    max-height: 50vh;
    overflow: hidden;
  }
  body section #post-27 aside.text .form-page {
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
  }
  body section #post-27 aside.text .form-page h1 {
    font-size: 28px;
  }
  body section #post-27 aside.text .form-page form .grouping .input input,
  body section #post-27 aside.text .form-page form .grouping .input textarea {
    width: 100%;
    font-size: 1rem;
    font-weight: 300;
  }
}
