.white
  display inline-block
  width 100%
  float left

  .owl-carousel
    float left

    .owl-stage-outer
      .owl-stage
        .owl-item
          .sa_hover_container
            height 600px

            img
              height 100%