*
  color #232B2B
  font-family europa, sans-serif
  font-style normal
  // NOTE: REFACTOR
  font-weight 700

placeholder()
  &::-webkit-input-placeholder
    {block}
  &:-moz-placeholder
    {block}
  &::-moz-placeholder
    {block}
  &:-ms-input-placeholder
    {block}