section {
  width: 100%;
}
section #post-27 {
  width: 100%;
  float: left;
  display: inline-block;
}
section #post-27 aside {
  width: 50vw;
  height: 45vw;
  float: left;
}
section #post-27 aside img {
  width: 100%;
  float: left;
}
section #post-27 aside:not(.text) {
  background: #d4e5f3;
  background: -webkit-linear-gradient(to bottom, #eef2f3, #d4e5f3);
  background: linear-gradient(to bottom, #eef2f3, #d4e5f3);
}
section #post-27 aside .form-page {
  width: 400px;
  margin: auto;
}
section #post-27 aside .form-page h1 {
  font-size: 78px;
}
section #post-27 aside .form-page form .grouping .input {
  margin-bottom: 1rem;
}
section #post-27 aside .form-page form .grouping .input label {
  display: block;
  margin-bottom: 0.5rem;
}
section #post-27 aside .form-page form .grouping .input input,
section #post-27 aside .form-page form .grouping .input textarea {
  width: 400px;
  padding: 0.5rem;
  font-size: 1.5rem;
  box-sizing: border-box;
  border: none;
  border-bottom: 5px solid #232b2b;
  resize: vertical;
placeholder()
}
section #post-27 aside .form-page form input#submit {
  width: 100%;
  background: transparent;
  font-size: 2rem;
  border: none;
  margin-top: 1rem;
}
