footer
  background-color #232B2B
  display inline-block
  width 100%
  padding 3.75rem 8.75rem
  box-sizing border-box
  float left

  *
    color white
    font-weight 400

  aside
    float left
    width 50%

    ul
      margin 0
      list-style-type none
      display inline-block
      float right

      li
        a
          display block
          text-align right
          text-decoration none
          font-weight 400

        &.current_page_item
          a
            &::before
              content "• "