body
  &.home
    .jumbo
      padding 0 8.75rem
      margin auto
      display inline-block

      h1
        font-size 78px
        margin-top 2rem

        &:last-of-type
          margin-bottom 1.5em