@media only screen and (max-device-width : 667px)
  body
    header
      .logo
        position relative
        z-index 20
      nav
        max-width 70%

        ul
          li
            &:first-of-type
              display inline-block
              font-size 0
              width 42px

              a
                padding 0

              &:after
                content "⋮"
                font-size 30px
                display block
                font-weight 900
                text-align center
                padding 15px 0

            &:not(:first-of-type)
              display none


        &.mobile-open
          position absolute
          right 0
          left 0
          bottom 0
          top 0
          background white
          max-width 100%
          z-index 10
          padding-right 0

          ul
            padding-left 0

            li
              width 100%
              display block

              a
                padding-left 56px

              &:nth-of-type(1)
                width 42px
                float right
                padding-right 8px

                &:after
                  content "×"
                  font-weight 100
                  padding 9px 0 9px
                  font-size 36px

    &.home
      .jumbo
        padding 0 1.75rem

        h1
          font-size 35px
          margin-top 0

    .white
      .owl-carousel
        .owl-stage-outer
          .owl-stage
            .owl-item
              .sa_hover_container
                height 100%
              img
                width 100%

    footer
      padding 0 1.75rem

      aside
        width 100%

        ul
          float left
          margin 1em 0 2em
          padding-left 0

          li
            a
              text-align left

    // Single
    section
      .post-module
        aside
          height initial
          width 100%

          &.text
            padding 0 1rem

            h1
              padding 1rem .5rem 0
              font-size 23px
              word-spacing initial
              text-align left

            h2
              font-size 14px
              font-weight 400
              text-align left
              padding-left .5rem
              margin-top .25rem

            span
              position initial
              margin-left initial

              p
                font-size .7rem
                padding 1rem .5rem 1.5rem

              a
                padding 0 0 25px 0
                font-size 18px

      #post-27
        aside
          width 100%
          height initial

          &:first-of-type
            max-height 50vh
            overflow hidden

          &.text
            .form-page
              width 100%
              padding 1rem
              box-sizing border-box

              h1
                font-size 28px

              form
                .grouping
                  .input
                    input,
                    textarea
                      width 100%
                      font-size 1rem
                      font-weight 300